<p id="notice"><%= notice %></p>

<% if flash[:notice] || flash[:alert] %>
    <div class='flash'><%= flash[:notice] || flash[:alert] %></div>
<% end %>
<div class="container">
  <div class="row">
    <header class="header">
      <h1>CONTACTO can hold more that 75 unique contacts in its massive database!</h1>
    </header>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="4">Last name</th>
      <th colspan="4">First name</th>
      <th colspan="4">Email</th>
      <th colspan="4">Phone number</th>
    </tr>
  </thead>

  <tbody>
    <div id='contact-container'>
      <% @contacts.each do |contact| %>
        <tr>
          <td colspan="4"><%= contact.last_name %></td>
          <td colspan="4"><%= contact.first_name %></td>
          <td colspan="4"><%= contact.email %></td>
          <td colspan="4"><%= contact.phone %></td>
          <td><%= link_to 'Show', contact %></td>
          <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
          <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </div>
  </tbody>
</table>

<br>

<%= render 'form' %>

<div class="container">
  <div class="row">
    <header class="header">
      <h1>Come back and see us anytime!</h1>
    </header>
  </div>
</div>
